<html>
    <head>
        <title>Desafio 01</title>
    </head>
    <body>
        <form action="/auth" method="POST">
            <input type="text" name="nome" />
            <input type="date" name="dataNascimento" />
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>